@import url("https://fonts.googleapis.com/css2?family=Doto:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Doto", sans-serif;
  font-weight: 600;
  background-color: #f5f5f5;
}
