/* src/styles/Main.css */
main {
    position: relative;
    width: 100lh;
    min-height: 100vh;
    background-image: url('/src/assets/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.4); /* Ajusta la opacidad */
    z-index: 0;
  }
  
  .contenido {
    position: relative;
    z-index: 1;
    padding: 2rem;
  }
  